<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhenmei.wsc.rbac.mybatis.custom.mapper.PermissionDao">

    <resultMap id="PermissionVoMap" type="com.zhenmei.wsc.rbac.mybatis.custom.entity.PermissionEntity">
        <result property="permissionUrl" column="url"></result>
        <result property="permissionName" column="permission_name"></result>
        <collection property="roleNames" ofType="java.lang.String">
            <result column="role_name"></result>
        </collection>
    </resultMap>

    <select id="findAll" resultMap="PermissionVoMap">
        SELECT
            p.id,
            p.url,
            r.role_name,
            p.permission_name
        FROM
            t_role_permission rp
                LEFT JOIN t_role r ON r.id = rp.role_id
                LEFT JOIN t_permission p ON p.id = rp.permission_id
    </select>
</mapper>
